* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    align-items: center;
    height: 120px;
    background-color: white;
    box-shadow: 0 -4px 10px 5px rgba(0,0,0,0.5);
    position: relative;
    z-index: 2;
}

.header img {
    height: 110px;
    width: 110px;
    margin-left: 10%; 
}

.header button {
    display: none;
    padding: 10px;
    margin: 0; /* Remove margin to ensure the button is against the edge */
}

.header ul {
	display: flex;
	list-style: none;
	font-size: 18px;
	justify-content: space-around;
}

.header ul li {
    margin-right: 20px;
}

.header ul li:last-child {
    margin-right: 0;
}

.header ul li a:link {
	padding: 10px 20px;
	display: block;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.header ul li a:visited {
    color: black;
    text-decoration: none;
}

.header ul li:not(:last-child) a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%; /* Početna pozicija je u sredini */
    background-color: #fcd303; /* Početna boja crte */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.header ul li:not(:last-child) a:hover::after {
    width: 100%;
    left: 0;
}

.header button {
	display: none;
	padding: 10px;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 10px 10%; 
}

.left-section1 {
    width: 40vw;
    padding: 20px;
    background-color: #ededed;
    border-radius: 2px;
    position: relative;
}

.right-section1 {
    width: 60vw;
    position: relative;
    z-index: 1; /* Postavite z-index na vrednost manju od z-index header-a kako bi slika bila ispod shadow-a od header-a */
}

.right-section1 img {
    display: block;
    width: 100%;
    height: auto;
}

.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.text-container {
    text-align: left;
}

.text-container p{
    font-size: 16px;
    line-height: 2;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-container h1 span {
    color: #fcd303;
}

.assistanceNumber{
    position: absolute;
    bottom: 0; /* Align to the bottom of the .left-section1 */
    left: 0; /* Align to the left of the .left-section1 */
    padding-left: 40px; /* Add padding or adjust as needed */
    padding-bottom: 30px;
    display: flex;
}

.assistanceNumber div{
    font-size: 32px;
    font-weight: 600;
    color: #fcd303;
    margin-right: 10px;
}

.assistanceNumber span{
    font-size: 20px;
    line-height: 32px;
}

.tekstNaDnu {
    margin: 10px 10%;
    text-align: justify;
}

.text2 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 200;
    color: black;
    line-height: 1.5;
    margin: 0 auto; 
    max-width: 100%; 
}

#kontakirajteNasLink:link {
    font-size: 1.1em;
    text-decoration: none;
    color: #fcd303;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#kontakirajteNasLink:visited {
    color: #fcd303;
}

#kontakirajteNasLink:hover {
    transform: scale(1.1) rotate(10deg);
    color: black;
    background-color: #fcd303;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.oNamaWraper {
    margin: auto;
    max-width: 80vw;
    padding-top: 100px;
    /*box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.5)*/
}

.oNamaWraper h1{
    font-size: 42px;
}

.oNamaWraper p{
    line-height: 1.5;
    font-size: 1.5em;
    text-align: justify;
}

.tomic {
    color:#fcd303;
}

.usluge-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 100px 10%;
}

.usluge-left-section {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.usluge-left-section img {
    max-width: 100%;
    height: auto;
}

.usluge-right-section {
    width: 60vw;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.usluge-right-section .text-usluge {
    text-align: left;
    padding: 20px;
}

.usluge-right-section .text-usluge h1 {
    font-size: 42px;
    margin-bottom: 40px;
}

.usluge-right-section .text-container-usluge {
    font-size: 1.2em;
    line-height: 1.6;
}

.usluge-right-section .text-container-usluge ul {
    list-style: none;
    padding: 0;
    margin-left: 30px;
}

.usluge-right-section .text-container-usluge li {
    margin-bottom: 10px;
    position: relative;
}

.usluge-right-section .text-container-usluge li::before {
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-image: url('img/arrow.png');
    background-size: cover; 
    margin-right: 10px; 
}

.galerija-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80vw;
    gap: 2%; 
    margin: auto;
}

.galerija-wrapper div {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.galerija-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.galerija-wrapper div img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#galerija-naslov {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}

.pop-up-image {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 101;
    max-width: 900px;
    padding: 30px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center; 
}

.pop-up-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.pop-up-image button {
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    font-weight: bold;
    border: 0;
}

.overlay {
	display: none;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.kontakt-wrapper {
    background-color: black;
    color: white;
    padding: 30px 10%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 10%;
}

.kontakt-left-section {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.kontakt-container p {
    margin: 10px 0px;
    line-height: 1.2;
}

.kontakt-container a:link, a:visited {
    text-decoration: none;
    color: white;
}

.kontakt-right-section {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.kontakt-right-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 20px;
    padding-right: 25%;
}

.kontakt-right-section ul li {
    display: inline-block;
    margin-right: 20%;
}

.kontakt-right-section ul li a img {
    width: 52px;
    height: 52px;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;
}

.footer-wrapper {
    background-color: black;
    color: white;
    margin-top: 10%;
}

.footer-text {
    text-align: center;
    padding: 2%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .kontakt-wrapper {
        margin-top: 200px;
        flex-direction: column;
    }

    .kontakt-right-section ul li a img {
        width: 36px;
        height: 36px;
    }

    .kontakt-right-section {
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .kontakt-right-section ul {
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .kontakt-right-section h1,
    .kontakt-left-section h1{
        font-size: 20px;
    }

    .galerija-wrapper {
        gap: 1%;
    }
}

@media only screen and(min-width:481px) and (max-width: 600px) {
    .galerija-wrapper{
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 945px) {
    .galerija-wrapper {
        grid-template-columns: repeat(1, 1fr);
        
    }

    .kontakt-wrapper {
        flex-direction: column; 
    }

    .kontakt-left-section,
    .kontakt-right-section {
        width: 100%;
    }
    
}

@media only screen and (max-width: 767px) {

    .header {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .header img {
        margin: 10px 0; 
        max-width: 70%;
    }

    .header button {
        display: block;
        margin: 0; 
    }

    .header ul {
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1;
    }

    .header ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header ul li {
        margin: 10px 0;
    }

    .section1 {
        flex-direction: column;
    }

    .left-section1,
    .right-section1 {
        width: 100%;
    }

    .usluge-wrapper,
    .oNamaWraper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .usluge-left-section,
    .usluge-right-section,
    .oNamaWraper {
        width: 100%;
    }

    .usluge-left-section img,
    .right-section1 img {
        width: 100%;
        height: auto;
    }

    .usluge-left-section {
        order: 1; /* Change the order of the sections */
    }

    .usluge-right-section {
        order: 2; /* Change the order of the sections */
    }

    .assistanceNumber {
        position: relative;
        margin-top: 20px;
    }

    .galerija-wrapper {
        grid-template-columns: repeat(1, 1fr);
        
    }
}